/bin/
/streaming
/streaming.exe
*.json
!go.mod
!go.sum
*.iml
.gradle/
.idea/
app/build/
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
.DS_Store
.vscode/
local.properties
config.json
